PORT=3000 # Port to run the server on
NODE_ENV="development" # Environment (development, production, test, ...). This variable will affect the behavior of your API, like logging, file upload or database connection.

# Database settings, used to connect to your database
DB_USERNAME="Username"
DB_PASSWORD="Password"
DB_NAME="DatabaseName"
DB_HOST="example.gft6gfd.mongodb.net"

# Authentication settings
JWT_KEY="A long and random key to sign your json web tokens"
PASSWORD_ENCRYPTION_SALT=10 # Salt to add to your password encryption